
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(138, 130, 130);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
    z-index: 100; /* Ajusta el z-index para que esté sobre otros elementos */
}


.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    color: #000000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img{
    width: 43px;
    border-radius: 50%;
}

.logo  h2 {
    font-size: 1,15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 30px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar{
    display: none;
}

.links li{
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover{
    cursor: pointer;
    background: #979393;
}

.links h4 {
    color: #000000;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding:10px;
    color: #000000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

footer{
    align-items: center;
}

h2{
    color: #fff;
}

p{
    color: #fff;
}

a{
    color: #fff;
}
